@mixin absolute-fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin absolute-center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@mixin absolute-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
}

@mixin absolute-top-left {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin absolute-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

@mixin absolute-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@mixin absolute-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@mixin absolute-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

@mixin absolute-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

@mixin absolute-left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@mixin offscreen {
  position: absolute;
  left: -999em;
}
