.icon {
  display: inline-block;
  fill: currentColor;
}

.icon--xs {
  width: 16px;
  height: 16px;
}

.icon--sm {
  width: 25px;
  height: 25px;
}

.icon--md {
  width: 32px;
  height: 32px;
}

.icon--lg {
  width: 48px;
  height: 48px;
}

.icon--xl {
  width: 64px;
  height: 64px;
}
